
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555555;
    font-family: 'Lato','Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.31),rgba(0, 0, 0, 0.51)),url(file:///Users/dravicha/Desktop/Screen%20Shot%202018-10-08%20at%207.56.15%20PM.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
h1{
    color: #fff;
    font-size: 240%;
    margin top: 0;
    margin-bottom: 20px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.hero-text-box{
    position: absolute;
    width:1140px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s;
    margin-right: 15px;
}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
}
.btn-full{
    background-color: #F4B350;
    color: #fff;
        
}

.btn-ghost{
    border: 1px solid;
    color: #F4B350;
}

.soc-media{
    color: #F4B350;
    margin-left: 50px;
    font-size: 40px;
    text-indent: 50;
    
}

.soc-media:hover,
.soc-media:active{
    color: #cf6d17;
}