
/* until Computer Screens */
@media only screen and (max-width: 1200px){
    
    .hero-text-box{
        
        width:100%;
        padding: 0 2%;
    
    }
    
    .row{
        padding: 0 2%
    }
}


/* tablets */
@media only screen and (max-width: 1023px){
    body{
        font-size: 18px;
    }
    section{
        padding: 60px 0;
    }
    .mbtn:link,
.mbtn:visited{
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s;
    margin-right: 15px;
    width: 20%;
    
}
}


/* Large phones */
@media only screen and (max-width: 767px){
.mbtn:link,
.mbtn:visited{
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s;
    margin-right: 15px;
    width: 30%;
    
}
    
}


/* Small phones */
@media only screen and (max-width: 480px){
    
    .mbtn:link,
.mbtn:visited{
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s;
    margin-right: 15px;
    width: 30%;
    
    
}
    
    h1{
        font-size: 150%;
    }
    
    
    
    .main-nav {
        display: none;
    }
    .mobile-nav-icon {
        display: inline-block;
    }
    
    .main-nav{
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }
    
    .main-nav li{
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
    }

    .sticky .main-nav {
        margin-top: 10px;
    }
    .sticky .mobile-nav-icon i {
        color: #F4B350;
        margin-top: 10px;
    }
}


